<template>
    <footer>
        <p>
            Copyright &copy; Mezeh 2021
        </p>
        <a href="/about">About</a>
    </footer>
</template>

<style scoped>
    a{
        color : #333,
    }
    footer{
        margin-top: 30px;
        text-align: center;
    }

</style>