<template>
    <header>
        <h1> {{title}}</h1>
        <!-- Because it's a component, we use 'Button' : -->
        <Button @btn-click="$emit('toggle-add-task')" 
        :text = "showAddTask ? 'Close' : 'Add Task' " 
        :color = "showAddTask ? 'red' : 'green' "></Button>
    </header>
</template>

<script>

import Button from './Button';
    export default {
        name : 'Header',
        props: {
            title : String,
            showAddTask : Boolean
        },
        components : {
            Button
        }
    }
</script>
<!--
    A 'scoped' style means that the style will be
     only applied to anything between those tag.
-->
<style scoped>
 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
 }

</style>